<!DOCTYPE html>
<html>
<head>
    <title>RAINBOW CHAT ROOMS</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <link rel="stylesheet" href="../styles.css" type="text/css">
</head>
<body>
    <h1>WELCOME TO RAINBOW CHAT ROOMS</h1>
    <h3>Please Choose a Room to Join</h3>
    <!-- ROYGBIV -->
    <div id="links" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <a href ="/red"><button style="background: red;">RED ROOM</button></a>
        <a href ="/orange"><button style="background: orange;">ORANGE ROOM</button></a>
        <a href ="/yellow"><button style="background: yellow;">YELLOW ROOM</button></a>
        <a href ="/green"><button style="background: green;">GREEN ROOM</button></a>
        <a href ="/blue"><button style="background: blue;">BLUE ROOM</button></a>
        <a href ="/indigo"><button style="background: indigo;">INDIGO ROOM</button></a>
        <a href ="/violet"><button style="background: violet;">VIOLET ROOM</button></a>
    </div>
</body>
</html>